.content{
  margin-top: 7%;
  text-align: center;
}

.heading{
  background: #d9edf7;
  font-size: 1.3em;
  border: 1px solid #bce8f1;
}

.results{
  border: 1px solid #bce8f1;
  border-radius: 4px;
}

.results div{
  padding: 2%;
  font-weight: bold;
  font-size: 1.2em;
}